<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>816461180794-8tgrmbcj5f62l1v97o9mnpn8id7kj1js.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.816461180794-8tgrmbcj5f62l1v97o9mnpn8id7kj1js</string>
    <key>API_KEY</key>
    <string>AIzaSyCtVO53Q3oMBHgIzNeFV1lx88rwbo6hfYo</string>
    <key>GCM_SENDER_ID</key>
    <string>816461180794</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.lookingmobdev.Eduapp</string>
    <key>PROJECT_ID</key>
    <string>eduapp-369716</string>
    <key>STORAGE_BUCKET</key>
    <string>eduapp-369716.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:816461180794:ios:46ef8f419f36cbd8ed30c3</string>
</dict>
</plist>
